In [15]:
import pandas as pd
df = pd.read_csv('sample.csv')
df
# df['UPC'] = df['UPC'].astype(str)
# log2_df = df.loc[df['UPC'].astype(str).str.len()>9 ]
# log2_df

   Id   Name           UPC  Price
0   1  Shirt           NaN     97
1   2   Pant  2.019000e+18     12
2   3  Coat   4.124120e+19    -73
3   4  Shoes  6.663100e+04   -158
4   5   Ring  2.123210e+05   -243
5   6   Bike           NaN   -328